<!DOCKTYPE html>
<html>
    <head>
    {%if access_status %}
    <title>Twicake - You got login</title>
    {% else %}
    <title>Twicake - You need login</title>
    {% endif %}
    </head>
    <body>
    {% if access_status %}
        <form action="." method="POST">
            <li><input type="text" name="send_text"></li> 
            <li><input type="submit" value="Send"></li>
        </form>
    {% else %}
    <li><a href="{{ auth_url }}">Login to Twitter</a></li>
    {% endif %}
    </body>
</html>
